{% extends 'client/admin_base.html' %}
{% set model_name = 'Manufacturers' %}
{% from "_formhelper.html" import render_field %}
{% from "macroses.html" import alerts, modal %}

{% block content %}
    {{ alerts("Manufacturer") }}

    <div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">
          Create
        </button>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Country</th>
                    <th>Certificates</th>
                    <th>Brands</th>
                </tr>
            </thead>
            <tbody>
                {% for manufacturer in manufacturers %}
                    <tr>
                        <td>{{ manufacturer.id }}</td>
                        <td>{{ manufacturer.name }}</td>
                        <td>{{ manufacturer.description }}</td>
                        <td>{{ manufacturer.country }}</td>
                        <td>{{ manufacturer.certificates }}</td>
                        <td>
                            {% for brand in manufacturer.brands %}
                                {{ brand.name }} {{ ", " if not loop.last }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<!-- Modal -->
    {% call modal("Manufacturer") %}
        <form method=post id="create_manufacturer_form">
            <dl>
            {{ render_field(form.name) }}
            {{ render_field(form.description) }}
            {{ render_field(form.country) }}
            {{ render_field(form.certificates) }}
            {{ render_field(form.brands) }}
            </dl>
        </form>
    {% endcall %}
{% endblock %}

{% block scripts %}
	<script>
        const url = "/api/v1/manufacturers";
        const form = document.querySelector("#create_manufacturer_form");
        const btn_save = document.querySelector("#btn_save");

        const successToast = document.getElementById('success_toast');
        const errorToast = document.getElementById('error_toast');

        async function sendData() {
          const formData = new FormData(form);

          try {
            const response = await fetch(url, {
              method: "POST",
              body: formData,
            });
            if (response.status === 201) {
              successToast.classList.remove('d-none');
              successToast.classList.add('d-block');
              setTimeout(() => {
                successToast.classList.remove('d-block');
                successToast.classList.add('d-none');
              }, 3000);
            } else {
              errorToast.classList.remove('d-none');
              errorToast.classList.add('d-block');
              setTimeout(() => {
                errorToast.classList.remove('d-block');
                errorToast.classList.add('d-none');
              }, 3000);
            }
          } catch (e) {
            console.error(e);
          }
        }

        btn_save.addEventListener("click", (event) => {
          sendData();
        });
    </script>
{% endblock %}